h1 {
  font-family: "Papyrus", fantasy;
}
p.box {
  font-family: "Monaco", monospace;
  border: 2px solid pink;
  border-radius: 12px;
  padding: 20px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
  color: white;
  background: pink;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 15px;
}
ul.university {
  font-size: 14px;
}
p.contact {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
ul {
  list-style-type: square;
}
li.ability {
  margin-top: 10px;
  margin-bottom: 10px;
}
ul.attribute {
  font-family: "Monaco", monospace;
  font-size: 14px;
}
